<%- include("partials/header") -%>


    <div class="container-fluid content">
        <h1 class="heading">About</h1>
        <p>
            <%= ABOUT %>
        </p>
    </div>


    <%- include("partials/footer") -%>