<%- include("partials/header") -%>

    <div class="containor-fuild landing">
        <h1>Start Writing Now!</h1>
        <div class="d-grid gap-2 col-6 mx-auto mt-5">
            <button class="btn btn-primary btn-lg"><a href="/login">Login</a></button>
            <button class="btn btn-primary btn-lg"><a href="/register">Register</a></button>
        </div>
    </div>

    <%- include("partials/footer") -%>