body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10rem;
}

a {
    text-decoration: none;
}

button a {
    text-decoration: none;
    color: #fff;
}

button a:hover {
    text-decoration: none;
    color: #fff;
}

input[type=text], input[type=password], textarea {
    width: 100%;
    padding: 0.25rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.navbar .container-fluid {
    width: 100%;
}

.navbar {
    padding: 2rem 12rem;
    letter-spacing: 0.5rem;
    word-spacing: 0.5rem;
}

.navbar .nav-item {
    margin: 0 1rem;
    letter-spacing: 0.25rem;
    word-spacing: 0.25rem;
}

.navbar-nav li a:hover {
    color: #1ABC9C !important;
}

.container-fluid {
    width: auto;
}

.content {
    margin: 4rem 12rem;
}

.post h3 {
    text-align: center;
    font-weight: bold;
    margin: 2rem auto;
}

.landing {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
}